@font-face {
    font-family: "Montserrat";
    src: url("../font/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

:root{
    --primary-color: #8F0101;
    --secondary-color: #B81515;

    --background-primary-color: #ffffff;
    --background-secondary-color: #000000;
    --background-tertiary-color: #F5F5F5;


    --text-primary-color:#222222;
    --text-secondary-color:#ffffff;
    
    --title-font-weigth: 700;
    --header-font-weigth: 500;
    --text-font-weigth: 400;
}

/* Exemplo de uso: 
h1{
    color: var(--primary-color)
}
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat";
    color: var(--text-primary-color);
}

section{
    width: 312px;
    margin: 0 auto;
}

.section-title h2{
    font-size: 32px;
    font-weight: var(--title-font-weigth);
    text-align: center;
}

.section-title hr{
    width: 180px;
    height: 4px;
    margin: 16px auto 32px;
    background-color: var(--primary-color);
    border-style: none;
}

.button{
    width: 280px;
    height: 64px;
    display: inline-block;
    font-size: 20px;
    line-height: 32px;
    text-decoration: none;
    color: var(--text-secondary-color);
    padding: 16px 0;
    background-color: var(--secondary-color);
    border-radius: 8px;
}

@media screen and (min-width: 768px){
    
    section{
    width: 648px;
    }
    
    .button:hover{
        background-color: var(--primary-color);
    }
}

@media screen and (min-width: 1024px){
    
    section{
    width: 984px;
    }
    
    .section-title hr{
        margin: 16px auto 64px;
    }
}

@media screen and (min-width:1440px){
    
    section{
        width: 1200px;
    }

}