header{
    background-color: var(--background-secondary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 38px 48px;
    position: relative;
}

.logo {
    display: inline-block;
    width: 68px;
    height: 64px;

}

.navigation-menu {
    width: 24px;
    height: 16px;
}

nav {
    display: none;
}

#menu:checked ~ nav{
    display:block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--background-secondary-color);
}

.navigation-options ul{
    list-style:none;
    font-weight: var(--header-font-weigth);
}

.navigation-options ul li{
    margin: 16px 0 16px 48px;
}

.navigation-options ul li a{
    color: var(--text-secondary-color);
    text-decoration: none;
}