@font-face {
    font-family: "Montserrat";
    src: url("../font/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

:root{
    --primary-color: #B81515;
    --secondary-color: #8F0101;

    --background-primary-color: #ffffff;
    --background-secondary-color: #000000;
    --background-tertiary-color: #F5F5F5;


    --text-primary-color:#222222;
    --text-secondary-color:#ffffff;

    --
}

/* Exemplo de uso: 
h1{
    color: var(--primary-color)
}
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
